In [1]:
import os
import pandas as pd

from datetime import datetime

In [3]:
os.listdir("data")

['.ipynb_checkpoints',
 'categorie.csv',
 'conguagli_E.csv',
 'conguagli_NE.csv',
 'data.csv',
 'dataAndre.csv',
 'dataMatte.csv',
 'dataOrigAndre.csv',
 'new_data',
 'OLD',
 'storico',
 'test_dataMatte.csv',
 'WHORKSHEET.xlsx']

In [46]:
df_andre = pd.read_csv('data/dataAndre.csv', sep=";")

In [47]:
df_andre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID_OPERAZIONE      322 non-null    int64
 1   Data               322 non-null    object
 2   Operazione         322 non-null    object
 3   Dettagli           322 non-null    object
 4   Conto o carta      322 non-null    object
 5   Contabilizzazione  322 non-null    object
 6   Categoria          149 non-null    object
 7   Valuta             322 non-null    object
 8   Importo            322 non-null    object
 9   Tipologia          322 non-null    object
 10  Agente             322 non-null    object
 11  Spesa Comune       99 non-null     object
dtypes: int64(1), object(11)
memory usage: 30.3+ KB

In [48]:
df_matte = pd.read_csv('data/dataMatte.csv', sep=";")

In [49]:
df_matte.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 966 entries, 0 to 965
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Data               966 non-null    object
 1   Operazione         966 non-null    object
 2   Dettagli           966 non-null    object
 3   Conto o carta      966 non-null    object
 4   Contabilizzazione  966 non-null    object
 5   Categoria          966 non-null    object
 6   Valuta             966 non-null    object
 7   Importo            966 non-null    object
 8   Tipologia          966 non-null    object
 9   Agente             966 non-null    object
 10  Spesa Comune       66 non-null     object
dtypes: object(11)
memory usage: 83.1+ KB

In [53]:
merge = pd.concat([df_matte, df_andre.drop(columns="ID_OPERAZIONE")])

In [55]:
merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1288 entries, 0 to 321
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Data               1288 non-null   object
 1   Operazione         1288 non-null   object
 2   Dettagli           1288 non-null   object
 3   Conto o carta      1288 non-null   object
 4   Contabilizzazione  1288 non-null   object
 5   Categoria          1115 non-null   object
 6   Valuta             1288 non-null   object
 7   Importo            1288 non-null   object
 8   Tipologia          1288 non-null   object
 9   Agente             1288 non-null   object
 10  Spesa Comune       165 non-null    object
dtypes: object(11)
memory usage: 120.8+ KB

In [57]:
data = pd.read_csv("data/data.csv", sep=";")

In [58]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1288 entries, 0 to 1287
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Anno               1288 non-null   int64
 1   Mese               1288 non-null   int64
 2   Data               1288 non-null   object
 3   Operazione         1288 non-null   object
 4   Dettagli           1288 non-null   object
 5   Conto o carta      1288 non-null   object
 6   Contabilizzazione  1288 non-null   object
 7   Categoria          1115 non-null   object
 8   Valuta             1288 non-null   object
 9   Importo            1288 non-null   object
 10  Tipologia          1288 non-null   object
 11  Agente             1288 non-null   object
 12  Spesa Comune       165 non-null    object
dtypes: int64(2), object(11)
memory usage: 130.9+ KB

In [60]:
data.drop(columns=["Anno", "Mese"], inplace=True)

In [61]:
data.to_csv("data/data.csv", sep=";", index=False)

In [62]:
data = pd.read_csv("data/data.csv", sep=";")

In [63]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1288 entries, 0 to 1287
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Data               1288 non-null   object
 1   Operazione         1288 non-null   object
 2   Dettagli           1288 non-null   object
 3   Conto o carta      1288 non-null   object
 4   Contabilizzazione  1288 non-null   object
 5   Categoria          1115 non-null   object
 6   Valuta             1288 non-null   object
 7   Importo            1288 non-null   object
 8   Tipologia          1288 non-null   object
 9   Agente             1288 non-null   object
 10  Spesa Comune       165 non-null    object
dtypes: object(11)
memory usage: 110.8+ KB