In [1]:
import pandas as pd

In [25]:
data = pd.read_csv("data/dataMatte.csv", parse_dates=["Data"])

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1052 entries, 0 to 1051
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Data               1052 non-null   datetime64[ns]
 1   Operazione         1052 non-null   object
 2   Dettagli           1052 non-null   object
 3   Conto o carta      1052 non-null   object
 4   Contabilizzazione  1052 non-null   object
 5   Categoria          1052 non-null   object
 6   Valuta             1052 non-null   object
 7   Importo            1052 non-null   float64
 8   Tipologia          1052 non-null   object
 9   Agente             1052 non-null   object
 10  Spesa Comune       107 non-null    object
dtypes: datetime64[ns](1), float64(1), object(9)
memory usage: 90.5+ KB

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1052 entries, 0 to 1051
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Data               1052 non-null   datetime64[ns]
 1   Operazione         1052 non-null   object
 2   Dettagli           1052 non-null   object
 3   Conto o carta      1052 non-null   object
 4   Contabilizzazione  1052 non-null   object
 5   Categoria          1052 non-null   object
 6   Valuta             1052 non-null   object
 7   Importo            1052 non-null   float64
 8   Tipologia          1052 non-null   object
 9   Agente             1052 non-null   object
 10  Spesa Comune       107 non-null    object
dtypes: datetime64[ns](1), float64(1), object(9)
memory usage: 90.5+ KB